body {
    color: rgb(87, 8, 101);
    background-image: url(ever-after-high.jpg);
}
header {
    background-color: beige;
    text-align: center;
    align-items: flex-end;
}
section {
   color: rgb(226, 14, 190); 
}
.daia{
    background-image: url(ever-after-high.jpg);
}