body {
    color: rgb(87, 8, 101);
    background-image: url(LQ9l.gif);
}
header {
    background-color: beige;
    text-align: center;
    align-items: flex-end;
    font-size: 130;
}
section {
   color: rgb(226, 14, 190); 
}
.daia{
    background-image: url(LQ9l.gif);
}