body {
    color: rgb(6, 245, 14);
    background-image: url(ever-after-high.jpg);
}
header {
    background-color: beige;
}
section {
   color: rgb(80, 226, 226); 
}
.daia{
    background-image: url();
}